*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin-left:30px;
    margin-right:30px;
}
nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin:10px 30px 10px 30px;
}
a{
    text-decoration:none;
    color:black;
}
.nav-items a:hover{
    color:rgb(92, 1, 1);
    transition:all 0.3s ease;
}
ul,ol{
    list-style:none;
}
.logo{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logo li{
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
    margin-left:20px;
    margin-top:10px;
}
.lg-right{
    color:darkolivegreen;
}
.rht-elements li {
    display:inline-flex;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}
.rht-elements button{
    color:white;
    background-color:#000;
    padding:4px;
    border-radius:7px;
    padding-top:5px;
}
.rht-elements button:hover{
    cursor:pointer;
    color:#fff;
    background:black;
    opacity:1px;
    transform:scale(1.5);
    transition:all 0.3s ease;
}
.pre{
    padding-top:60px;
}

h5{
    display:flex;
    align-items: center;
    justify-content:center;
    padding-bottom:5px;
}
h2{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 40px;
    padding-bottom:5px;
    padding-left:30px;
}
.smtxt{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:30px;
}
.ima{
    margin:0 30px 10px 30px;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../Images/human\ throughts.jpg");
    background-position:center;
    background-size:cover;
    height:90vh;
    box-sizing:border-box;
    padding-top:44%;
    padding-left:20px;
    color:white;
    box-shadow:-5px -5px 10px rgba(0,0,0,0.5), -5px -5px 10px rgba(0,0,0,0.5);
    border-radius:5px;
}
.ima h4{
    font-size:20px;
}
.ima p{
    position: relative;
    box-sizing:border-box;
}
.sect li {
    display:inline-flex;
    align-items: center;
    border:1px solid white;
    margin-top:9px;
    border-radius:15px;
    padding:6px 6px 6px 6px;
    margin-right:5px;
}

.sect a{
    color:#fff;;
}