*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.form_container{
    /* background-color: rgb(252, 250, 250); */
    width: 30%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    margin: 10% 35%;
    border-radius: 30px;
    /* box-shadow: -2px 2px 5px rgb(44, 43, 43); */
    box-shadow: inset 10px 15px 50px rgb(44, 43, 43);
}
body{
    margin-right: 30px;
    margin-left:30px;
}
.Main_Container{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../../../../W_Html/Try_Html/Images/fire.png");
    background-position:center center;
    background-size:cover;
    width:100%;
    height:80vh;
    background-repeat:repeat;
    background-attachment:scroll;
    border:none;
}
.form_container div{
    margin:15% 20%;
    /* margin-top:50px; */
}
.form_container button:hover{
    cursor:pointer;
    opacity:1.5px;
}
label{
    display:flex;
    align-items:center;
    justify-content:center;
}
img{
    margin-left:85px;
    margin-top:85px;
    width:50px;
    border-radius:20px;
}
.form_content label input{
    padding-top:10;
}
.form_content input{
    /* margin-right:30px; */
    margin-left:25px;
}
.form_footer button{
    margin-left:80px;
    width:60px;
    height:25px;
}