@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Permanent+Marker&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
    height: 100vh;
    background-color: salmon;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "DM Serif Display", serif;
    font-style: italic;
}
h1{
    text-transform: capitalize;
    position:relative;
}

h1::after{
    content:'';
    height: 32px;
    width: 1.6px;
    background-color: white;
    position: absolute;
    font-size: 8px;
    font-weight: 300;
    right: -6px;
    top: 15%;
    animation: type-cursor 0.5s ease-in-out infinite;
}

@keyframes type-cursor {
    100%{
        opacity: 0;
    }
}