body{
    margin:0;
    padding:0;
    background-color:rgb(23, 189, 97);
    background-size:cover;
}
#form-container{
    width:80%;
    height:600px;
    background:#fff;
    margin:0 auto;
    box-sizing:border-box;
    margin-top:5%;
    box-shadow:0 15px 30px rgba(0,0,0,.5);
    color:white;
    border-radius:10px;
    border:none;
    scroll-behavior:smooth;
    flex-wrap:wrap;
}
#form-container .left{
    float:left;
    width:40%;
    height:600px;
    /* background:url("../../../Sammy/assets/images/knight.jpg"); */
    background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("../../../Sammy/assets/images/knight.jpg");
    box-sizing: border-box;
    background-size:cover;
    background-position: center;
    border-radius:10px 0 0 10px;
    position:absolute;
}
.left h5{
    margin:0;
    padding:0;
    box-sizing:border-box;
    padding:15px;
}
.left .img-content{
    padding-top:20%;
    margin-left:33%;
    text-transform: uppercase;
    line-height: 1px;
    font-size: larger;
}
.img-content p{
    font-size: small;
    font-family: serif;
    font-style:normal;
    word-spacing: 5px;
    padding-left:1px;
}
.img-content h3{
    text-transform: capitalize;
    font-size:larger;
    letter-spacing: 2px;
    font-weight: bold;
}
.bottom {
    margin-left:130px;
    padding-top:300px;
    width:70%;
    padding-left:20px;
    text-transform: uppercase;
    font-size: small;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
}
#form-container .right{
    float:right;
    width:40%;
    height:600px;
}
.right .right-header{
    margin-top:35px;
}
.right h2,h4{
    margin-left:20%;
    line-height: 2px;
    font-family:sans-serif;
    word-spacing: 1px;
}
.right h4{
    text-transform:uppercase;
    font-size:10px;
    letter-spacing: 1px;
    color:rgb(201, 201, 207);
}
.right h2{
    color:rgb(47, 184, 120);
    letter-spacing:0.5px;
}
.formBox{
    display:inline-block;
    color:black;
}
.formBox #inputs1,#inputs2,#inputs3,#inputs5,#inputs6{
    margin-top:35px;
     margin-left:80px;
     padding-left:5px;
     padding-right:34px;
}
.formBox #inputs1,#inputs2,#inputs4,#inputs5,#inputs6{
 border:none;
 border-bottom:1px solid black;
}
.formBox #inputs1{
  padding-top:4px;
  padding-bottom:4px;
}
.formBox #inputs2{
    padding-right:33px;
    padding-top:4px;
  padding-bottom:4px;
}
.formBox #inputs{
    margin-bottom:35px;
    margin-left:33px;
}
.formBox #inputs3{
    margin-left:67px;
    padding-top:4px;
  padding-bottom:4px;
}
.formBox #inputs4{
    margin-left:33px;
    padding-right:93px;
    padding-top:4px;
  padding-bottom:4px;
}
.formBox #inputs5{
     margin-left:90px;
     padding-top:4px;
  padding-bottom:4px;
}
.formBox #inputs6{
    margin-left:62px;
    padding-right:36px;
    padding-top:4px;
  padding-bottom:4px;
}
.right-bottom ul{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    list-style:none;
    padding-left:0.1%;
    width:80%;
}
.form-items b{
    /* margin-right:20px; */
    align-items:center;
    /* padding-right:61px; */
}
.lst-silver{
    color:rgb(23, 189, 97);
}
button{
    padding:5px 25px;
}
.right .right-buttons{
    margin:55px;
    padding:5px 10px;
    margin-left:40px;
}
.right-buttons .cancel{
    background:rgb(36, 2, 49);
    color:white;
    border:none;
}
.right-buttons .cancel:hover{
    opacity:1.3px;
    cursor:pointer;
    transition:all 0.5s ease;
    transform:scale(1.1);
}
.right-buttons .confirm{
    background:rgb(23, 189, 97);
    border:none;
    margin-left:10px;
}
.right-buttons .confirm:hover{
    opacity:1.3px;
    cursor:pointer;
    transition:all 0.5s ease;
    transform:scale(1.1);
}