*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.slider{
    height: 100vh;
}

.slide{
    display:none;
}

img{
    width: 100%;
    height: 100vh;
}

.btn{
    position: absolute;
    color:white;
    top:45%;
    font-size: 5rem;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}

.prev{
    left: 2rem;
}

.next{
    right:2rem;
}
