*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body::-webkit-scrollbar{
    display:none;
}
body{
    background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("../images/-6321168330806897646_121.jpg");
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
    width:100%;
    height:100vh;
}
        /* Navbar styling start............. */
header{
    position:fixed;
    left:0;
    top:0;
    line-height:50px;
    padding:0 60px;
    width:100%;
    height:11vh;
    box-sizing:border-box;
    border-bottom:1px solid rgb(131, 130, 130);
    background:rgb(78, 122, 139);
}
header .logo{
    color:#ffffff;
    font-size:24px;
    font-weight: bold;
    float:left;
    cursor:pointer;
    padding-top:13px;
    transition: all ease .8s;
    padding-left: 20px;
    text-transform: uppercase;
    font-family: serif;
}
nav{
    float:right;
    /* display:none; */
    /* padding-top:20px; */
}
nav ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;
}
nav ul li{
    list-style:none;
    line-height: 50px;
}
nav ul li a{
    text-decoration:none;
    padding:15px 20px;
    display:block;
    color:#fff;
    text-transform: uppercase;
}
nav ul li a:hover,
nav ul li a.active{
    background:#2196f3;
}
nav ul img{
    display:none;
    width:200px;
    height:200px;
    image-resolution: 1080px;
    cursor:pointer;
}
header .toggle-bar{
    float:right;
    color:#fff;
    font-size:24px;
    cursor:pointer;
    display:none;
    padding-top:13px;
    transition: all ease .8s;
}
@media (max-width:968px){
    header{
        padding:10px 20px;
    }
    header .toggle-bar{
        display:block;
    }
    nav.active{
        left:0;
    }
    nav{
        display:block;
        position:absolute;
        top:78px;
        left:-100%;
        width:100%;
        height:100vh;
        background: #3a3939;
        transition: all ease .8s;
        opacity: .8;
    }
    nav ul{
        display:block;
        text-align: center;
        font-size:17px;
    }
    nav ul li a{
        border-bottom:1px solid rgb(145, 142, 142);
    }
    nav ul img{
        display:block;
        margin:0 auto;
        padding-bottom:10px;
        width:200px;
        height:200px;
        padding-top:10px;
    }
}
/* End of Navbar styling........*/

 /* start of main page styling */
.main-section{
    width:100%;
    height:100vh;
    box-sizing:border-box;
    /* background-color:#edf1fd; */
    position:relative;
    background-image:url('../images/Profile/IMG-20230610-WA0107.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:right bottom;
    z-index:-1;
    background-attachment: inherit;
}
.main-section .name{
    font-size:25px;
    position:absolute;
    left:20%;
    top:50%;
    transform:translate(-20% , -50%);
    letter-spacing:3px;
    color:#ffffff;
}
 .social-links{
    position:fixed;
    right:0;
    background:#95db11;
    width:40px;
    text-align: center;
    float:right;
    margin-top:15%;
    border-radius:5px 0 0 5px;
    outline:none;
}
.social-links ul li{
    list-style:none;
    cursor:pointer;
    padding:20px 0;
    font-size:24px;
    outline:none;
    border:none;
}
.social-links ul li:first-child{
    background:blue;
    color:white;
    outline:none;
    border-radius: 5px 0 0 0; 
}
.social-links ul li:nth-child(2){
    background:rgb(22, 93, 245);
    color:white;
    outline:none;
}
.social-links ul li:nth-child(3){
    background:#b6acac;
    color:rgb(195, 21, 218);
     border:none; 
     outline:none; 
}
.social-links ul li:nth-child(4){
    background:black;
    color:white;
     border:none; 
    outline:none;
}
.social-links ul li:last-child{
    background:blue;
    color:white;
    border:none; 
    outline:none; 
    border-radius:0 0 0 5px; 
}
/* end of main page styling */

/* start of about page styling*/
.about-section{
    background:black;
    border-radius: 0 160px 0 0;
    padding:30px;
    height:100vh;
    box-sizing:border-box;
    /* overflow: hidden; */
    color:#fff;
    text-align:center;
}
.about-section h1{
    text-align:center;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    text-decoration:underline;
}
.about-section .text-box .textAbout-image{
    padding-top:25px;
}
.about-section .text-box .textAbout-image p{
  float:left;
  width:45%;
  font-size:17px;
  font-family:'Times New Roman', Times, serif;
  color:rgb(214, 210, 210);
    margin-top:40px;
}
.about-section .text-box .textAbout-image img{
    float:right;
    width:55%;
    height:40rem;
    border-radius:0 90px 0 0;
}
.about-section .text-box  button{
    padding:8px 40px;
    margin:50px 13%;
    background:skyblue;
    outline:none;
    border:none;
    border-bottom:1px solid rgb(102, 100, 100);
    border-radius:5px;
    color:white;
    /* opacity:; */
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}
.about-section .text-box  button:hover{
    opacity:8;
    background:rgb(80, 148, 175);
    transform:scale(1.1);
    transition:all ease .8s;
}

/*end of about page styling */

/* start of service page styling */

.service-section{
    width:100%;
    background:#e9e5e5;
    padding:30px;
}
.service-section h1{
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    text-decoration:underline;
    text-align:center;
    color:black;
    padding-bottom:10px;
}
.service-section p{
    color:black;
    font-size:17px;
    font-family:'Times New Roman', Times, serif;
}





