body{
    margin:0;
    height: 100vh;
    background: black;
}
body::-webkit-scrollbar{
    display: none;
}

span{
    background: url('./love_11685515.png');
    height:100px;
    width: 100px;
    pointer-events: none;
    position:absolute;
    background-size: cover;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    animation: anime 6s linear;
}


@keyframes anime{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}