body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
}

.btn{
    border: none;
    border-radius: 8px;
    background-color: pink;
    padding: 20px 40px;
    box-shadow: 0 1px 5px 2px rgba(0,0,0, .3);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;
    transition: .5s ease-in-out;
}

.btn:hover span{
    color: #fff;
}

.btn::before{
    content: '';
    width: 0;
    height: 0;
    background-color: orangered;
    position: absolute;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s , height .5s;
}
.btn:hover::before{
    width: 300px;
    height: 300px;
}