*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

h3{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 11rem;
}

.meme-container{
    width: 420px;
    height: 460px;
    /* background-image: url("../trial/spinner/2014_the_amazing_spider_man_2-1920x1080.jpg"); */
    border-radius: 6px;
    box-shadow: -3px 4px 8px 5px lightgray;
}

.meme-container:hover{
    animation: meme 1.6s ease-in-out;
    cursor: pointer;
}

@keyframes meme{
    0%{
        transform: scaleY(-1);/
    }
    100%{
        transform: scaleY(1);
    }
}