 body{
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    height: 100vh;
}
body::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

.image-container{
    text-align: center;
}
img{
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0, .5);
    background-color: lightgray;
    width: 300px;
    height: 300px;
}


.btn{
    border:none;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: slateblue;
    color: #fff;
    cursor: pointer;
}